<footer>

  <div class="container">

    <div class="name">

      <p>SP Estate, Inc.</p>

      <p >&#169; 2017 SP. All rights reserved.</p>

    </div>

    <div class="address">

      <a class="email" href="mailto:SPEstate@gmail.com">SPEstate@gmail.com</a>

      <a class="phone" href="tel:+44 987 065 908">+44 987 065 908</a>

    </div>

    <nav class="nav">

      <div class="nav-wrapper">

        <a href="/">home</a>

        <a href="/solutions.html">solutions</a>

        <a href="/contacts.html">contacts</a>

      </div>

      <div class="nav-wrapper">

        <a href="/news.html">news</a>

        <a href="/investors.html">investors</a>

        <a href="/projects.html">projects</a>

      </div>

    </nav>

    <div class="socials">

      <a class="socials-fb" href="#"></a>

      <a class="socials-insta" href="#"></a>

    </div>

  </div>

</footer>
