<header>

  <div class="container">

    <div class="logo-wrapper">

      <a>

        <img src="img/sp-logo.png" alt="#">

      </a>

    </div>

    <nav class="nav" id="nav">

      <a href="/">home</a>

      <a href="/news.html">news</a>

      <a href="/projects.html">projects</a>

      <a href="/solutions.html">solutions</a>

      <a href="/investors.html">investors</a>

      <a href="/contacts.html">contacts</a>

    </nav>

    <ul class="language-select">

      <li class="active" data-lang="gb">

        <img src="img/lang-us.png" alt="#">

      </li>

      <li data-lang="ukr">

        <img src="img/lang-ukr.png" alt="#">

      </li>

      <li data-lang="ru">

        <img src="img/lang-ru.png" alt="#">

      </li>

    </ul>

    <button class="nav-burger" type="button">
      <span></span>
    </button>

    <button class="nav-burger-close" type="button">
      <span></span>
    </button>

  </div>

</header>
