.banner {
  background-image: url("../img/sp-home-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 298px);
    padding: 110px 0 140px;

    @include m-768 {
      padding: 110px 30px 140px;
    }
  }

  .banner-title {
    margin-bottom: 20px;
    margin-left: 55%;

    color: #000000;
    font-family: $font-m;
    font-size: 38px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.38px;

    @include m-1200 {
      margin-left: 36%;
    }

    @include m-768 {
      margin-left: 10px;

      font-size: 33px;
    }
  }

  .banner-text {
    margin-bottom: 30px;
    margin-left: 55%;
    max-width: 451px;

    color: #606060;
    font-family: $font-ns;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.09px;

    @include m-1200 {
      margin-left: 36%;
    }

    @include m-768 {
      margin-left: 10px;
    }
  }

  .banner-link {
    padding: 19px 47px;
    margin-left: 55%;
    margin-bottom: 30px;
    display: inline-block;
    align-self: flex-start;

    color: #000000;
    font-family: $font-m;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;

    border: 1px solid #d1cc0d;
    background-color: #eeeb5f;

    @include m-1200 {
      margin-left: 36%;
    }

    @include m-768 {
      margin-left: 10px;
    }
  }
}
